<div id="add_form" class="panel panel-default">
    <div class="panel-heading">Dane do szablonu</div>
    <form id="add_main_form" action="{;core;mainpath;}index/render" method="post" role="form">
        <div class="form-group pull-left">
            <label for="name">Nazwa aukcji:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-tag"></i>
                </div>
                <input class="form-control"
                       type="text"
                       id="name"
                       name="name"
                       placeholder="Nazwa aukcji"/>
            </div>
        </div>

        <div class="form-group pull-right">
            <label for="cell_phone">Telefon komórkowy:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-phone"></i>
                </div>
                <input class="form-control"
                       type="text"
                       id="cell_phone"
                       name="cell_phone"
                       placeholder="Telefon komórkowy"/>
            </div>
        </div>

        <div class="form-group pull-left">
            <label for="phone">Telefon stacjonarny:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-phone-alt"></i>
                </div>
                <input class="form-control"
                       type="text"
                       id="phone"
                       name="phone"
                       placeholder="Telefon stacjonarny"/>
            </div>
        </div>

        <div class="form-group pull-left">
            <label for="email">Email:</label>
            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control"
                       type="email"
                       id="email"
                       name="email"
                       placeholder="Email"/>
            </div>
        </div>

        <div class="form-group pull-left">
            <label for="description">Opis aukcji:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-pencil"></i>
                </div>
                <textarea id="description" name="description" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="form-group pull-left">
            <label for="sizes">Dostępne rozmiary:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-th-list"></i>
                </div>
                <textarea id="sizes" name="sizes" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="form-group pull-right">
            <label for="courier">Opis przesyłki:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-plane"></i>
                </div>
                <textarea id="courier" name="courier" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="form-group pull-right">
            <label for="payment">Formy płatności:</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <textarea id="payment" name="payment" class="form-control" rows="6"></textarea>
            </div>
        </div>
    </form>

    <div class="clearfix"></div>

    <form action="{;core;mainpath;}upload" class="dropzone jumbotron" id="dropzoneForm">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>

    <button type="submit" class="btn btn-lg btn-primary" id="generate">Generuj</button>
</div>