<div id="login_form" class="panel panel-default">
    <div class="panel-heading">Logowanie</div>
    <form action="" method="post" role="form">
        <p>
            <input type="hidden" value="yes" name="login"/>
        </p>
        <div class="form-group">
            <label for="username">Użytkownik:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-user"></i>
                </div>
                <input class="form-control"
                       type="text"
                       id="username"
                       name="username"
                       placeholder="Użytkownik"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Hasło:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="icon-lock"></i>
                </div>
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"
                       placeholder="Hasło"/>
            </div>
        </div>

        <p class="clear"></p>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
    <div class="clear"></div>
</div>