<div id="login_form">
    <form action="" method="POST">
        <p>
            <input type="hidden" value="yes" name="login"/>
        </p>
        <p>
            <label>
                <i class="icon-lock"></i> Hasło:
            </label>
            <input class="topcoat-text-input--large" type="password" name="password" placeholder="Password"/>
        </p>
        <p class="clear"></p>
        <input type="submit" value="Login" class="topcoat-button--large--cta"/>
    </form>
    <div class="clear"></div>
</div> 